body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.container {
  padding: 16px;
  border: 1px solid #ccc;
  background: #eee;
  margin-bottom: 32px;
}
